@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-basic-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.header-content, h3{
    margin-left: 60px;
}
.header-content, button{
    margin-right: 60px;
    border-radius: 5px;
    padding:17px 24px;
    font-weight: 600;
    color: #0D1321;
    background-color: white;
    font-size: 20px;
}
.banner-container{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 1440px;
    height: 652px;
}
.container-items{
    /* position: absolute; */
    max-width: 998px;
    min-height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20PX;
    margin: 0 auto;
    padding-top: 20px;
}

.banner-container h1{
    font-weight: 1000;
    font-size: 48px;
    text-align: center;
    color: #0D1321;
}
.container-items p{
    color: #0D1321;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
} 

.container-items button{
    color: white;
    background: black;
    border-radius: 8px;
    margin: 32px 0px;
    padding: 21px 24px 21px 24px;
}
.development-part{
    max-width: 1140px;
    height: 1070px;
    margin: 0 auto;
    margin-top: 100px;
    background: rgba(13, 19, 33, 0.02);
}
.development-content{
    max-width:946px;
    padding: 60px;
    margin:0 auto;
}
.development-content h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.development-content p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
.part1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
}
.part-1-element{
    margin:12px;
    width: 477px;
    margin-bottom:20px;
}
.part-1-element p{
    text-align: left;
    margin-bottom: 20px;
}
.part2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: white;
    height: 230px;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.part-2-element{
    margin:12px;
    width: 477px;
    margin-bottom:20px;
}
.part-2-element p{
    text-align: left;
    margin-bottom: 20px;
}
.part3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: white;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
}
.part-3-element{
    margin:12px;
    width: 477px;
    margin-bottom:20px;
}
.part-3-element p{
    text-align: left;
    margin-bottom: 20px;
}
.inspiration{
        max-width: 1140px;
        height: 780px;
        margin: 0 auto;
        margin-top: 100px;
        background: white;
 }
.inspiration-items{
        max-width:946px;
        margin:0 auto;

}
.inspiration-items h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.inspiration-items p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}
iframe{
    width:946px;
    height:500px ;
    margin:0 auto;
    padding: 10px;
    
}
.target-text h2{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}
.target-text p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    width: 852px;
    height: 52px;
    margin: 0 auto;
    
}
.skill-container{
    display: flex;
    gap:24px;
    max-width: 1140px;
    height:420px;
    margin:0 auto;
    margin-bottom: 50px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
    margin-top: 50px;
    margin-bottom:50px;
    width: 364px;
    height: 300px;
}
.skill-desc{
    color: #757575;
    font-weight: normal;
}
.learn{
    margin-top: 20px;
}
.skill-bg{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
.skill-bg-2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
p{
    font-size: 16px;
}
.learn-more {
    display: inline-block;
    margin-top: 10px;
    /* padding: 10px 15px; */
}
.next-target {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.next-target h2 {
    margin-top: 20px;
}
.next-target p {
    margin-top: 20px;
    margin: 0 auto;
    max-width: 852px;
    margin-bottom: 20px;
    align-items: center;
}
/* .target {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */
.target1{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    background: white;
    width: 1140px;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 20px;
    gap: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.m0{
    margin-left: 0px;
}

.target2{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    background: white;
    width: 1140px;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 20px;
    gap: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.target3{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    background: white;
    width: 1140px;
    margin-bottom: 20px;
    padding: 20px;
    margin-top: 20px;
    gap: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.img-size{
background-size: contain;
}
.center{
    text-align: center;
}

.scroll-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: #0056b3;
}

footer {
    background: url('../assets/handshake.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    width: 1140px;
    height: 314px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
}

.support-section {
    width: 1044px;
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin:0 auto;
    padding: 64px 48px 64px 48px;
}

.support-section h2 {
    margin-top: 0;
}

.support-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap:15px;
}

.support-form input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
    border-radius: 8px;
    
}

.support-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color:white;
    cursor: pointer;
    border-radius: 8px;
}

.footer-bottom {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom p {
    margin: 0;
    color: #0D1321;
}
